---
    import { SITE } from '$/config'
    import ModeLabel from './ModeLabel.svelte'
    import NetlifyIdentity from './NetlifyIdentity.svelte'
---
<footer class="footer">
    <nav class="nav">
        <div>2023  &copy; Copyright |  <a href={ SITE.homeUrl } title={`${ SITE.name }`}>{ SITE.name }</a>
        <NetlifyIdentity client:load/>
    </nav>
</footer>
<style>
    .footer {
        @apply py-6 border-t text-gray-600
    }
</style>
